kafka:
  security.protocol: SSL
  sedSendt:
    topic: ${KAFKA_SEDSENDT_TOPIC}
    groupid: eessi-pensjon-begrens-innsyn-group
  sedMottatt:
    topic: ${KAFKA_SEDMOTTATT_TOPIC}
    groupid: eessi-pensjon-begrens-innsyn-group
  brokers: ${KAFKA_BROKERS:localhost:9092}

METRICS_REQUESTFILTER_ENABLE: true

no.nav.security.jwt:
  client:
    registration:
      common-auth: &auth
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      eux-credentials:
        <<: *auth
        scope: api://${AZURE_APP_EUX_CLIENT_ID}/.default
      pdl-credentials:
        <<: *auth
        scope: api://${AZURE_APP_PDL_CLIENT_ID}/.default

securityTokenService:
  discoveryUrl: ${SECURITY_TOKEN_SERVICE_OPENID_CONFIGURATION_URL}

#Metrics
management:
  endpoints:
    metrics:
      enabled: true
    web:
      exposure:
        include: info, health, metrics, prometheus
    export:
      prometheus:
        enabled: true
    prometheus:
      enabled: true
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: false