<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- logback konfigurasjon for PROD; se logback-test.xml for setting test-->
    <!-- securelog går kun til fil: /secure-logs/secure.log-->
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <appender name="secureLog" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>team-logs.nais-system:5170</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${NAIS_POD_NAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
                <includeContext>false</includeContext>
            </encoder>
        </appender>

        <logger name="secureLog" level="DEBUG" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerInterceptor" level="OFF" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>
        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerFilter" level="OFF" additivity="false">
            <appender-ref ref="secureLog"/>
        </logger>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.eessi" level="INFO"/>
        <logger name="no.nav.eessi.pensjon.logging.RequestResponseLoggerInterceptor" level="OFF"/>
        <logger name="no.nav.security.token.support.core.validation" level="ERROR"/>

        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <!-- logback konfigurasjon for Q / lokalt; se logback-test.xml for setting test-->
    <!-- securelog går kun til fil: /secure-logs/secure.log-->
    <springProfile name="!prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="org.springframework.kafka" level="INFO"/>
        <logger name="org.apache.kafka" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="no.nav.security" level="INFO"/>

        <logger name="secureLog" level="DEBUG"  additivity="false">
            <appender-ref ref="stdout_json"/>
        </logger>

        <root level="DEBUG">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>
</configuration>
